{% extends 'blogapp/starter.html' %}

{% block css %}

{% block title%} HOME {% endblock %}
<style>
    .h1 {
        color: #0c5460;
        font-family: Arial, Helvetica, sans-serif;
    }

    

    .blog-item {
        width: 90%;
        margin: auto;
        border: 15px double rgb(0, 0, 0);
        font-weight: bolder;
    }

    .blog-title {
        width: max-content;
        margin: auto;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 34px;
        font-size: 2.5vw;
    }

    .blog-description {
        width: max-content;
        margin: auto;
        font-family: cursive;
        font-size: 1.7vw;
    }

    .blog-tags {
        width: max-content;
        margin: auto;
        font-family: monospace;
    }

    .blogpic-1 {
        width: 40%;
        margin: auto;
    }

    .blogpic-1 img {
        display: block;
        width: 70%;
        margin: auto;
        border: 8px double burlywood;

    }

    .blog-category {
        width: max-content;
        margin: auto;
        font-family: monospace;
        font-size: 2vw;
    }

    .redirect {
        width: max-content;
        margin: auto;
        font-size: 3vw;
    }

    @media only screen and (max-width : 1200px) {
        /* Styles */
        .blog-category {
            font-size: 4vw;
        }
        .blog-title {
            font-size: 5vw;
        }
        .blog-description {
            font-size: 4.2vw;
        }
    }

</style>
{% endblock %}
{% block body %}
<div class="page">
    {% for i in blogs %}
    <div class="blog-item">
        <div class="inner-blog-item">
            <div class="blog-title">
                {{i.Blogpost_title}}
            </div>
            <div class="blog-description">
                {{i.Blogpost_desc}}
            </div>
            <div class="blog-category">
                #{{i.Blogpost_category1}}
            </div>
            <div class="blogpic-1">
                <img src='/media/{{i.Blogpost_picture1}}' alt="not able to load">
            </div>
            <div class="redirect">
                <a href="/blog/blogbeforeview/{{i.id}} ">read blog</a>
            </div>
            <hr>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<br>
<br>
<br>
{% endblock %}